<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  f
    <h1>  The articles are  </h1>
    <p>Lortium atque excepturi perferendis voluptate!</p>
    <% for(let art of article){%>
      <h3> <%= art.title %></h3>
      <p><%= art.body %> </p> 
        <br />



   <% }  %> 
    
</body>
</html>