<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Hellow world</h1>
    <p>Here you are</p>
    
    <p>Your age is  <%=age%>  </p>
    <!-- <p> <%=num%>  </p> -->

    <%  if(name=='aya')  { %>
    <p>Your name is maya   </p>
   <%}%> 
   

</body>
</html>